In [1]:
import os
import pandas as pd
import numpy as np
import json
import random, string
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
maindir = "./" # Directory with your files
traincsv = maindir+"/Final_Train.csv"
testcsv = maindir+"/Final_Test.csv"

In [3]:
train = pd.read_csv(traincsv)
train.head()

,donation_id,hdl_cholesterol_human,hemoglobin(hgb)_human,cholesterol_ldl_human,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,...,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,id,std,temperature,humidity
0,1975,low,ok,ok,0.505055,0.506570,0.511544,0.516300,0.524067,0.530191,...,1.401169,1.395687,1.390813,1.384304,1.395545,1.369307,12149.5,0.0073,42.332500,37.773000
1,1982,low,ok,high,0.523531,0.523485,0.526291,0.532875,0.538397,0.543180,...,1.299807,1.299004,1.298251,1.297575,1.302398,1.284716,4589.5,0.0043,39.385167,43.316667
2,1989,low,ok,high,0.516449,0.519226,0.523619,0.532366,0.540438,0.547985,...,1.247736,1.228340,1.211511,1.204599,1.212862,1.193458,6149.5,0.0046,42.455500,46.535167
3,1994,low,ok,high,0.512397,0.514371,0.518486,0.520868,0.526911,0.534963,...,1.254238,1.246901,1.248287,1.245556,1.266079,1.258333,36049.5,0.0098,45.173333,37.369333
4,2002,low,ok,ok,0.496008,0.496698,0.499643,0.502549,0.506363,0.511604,...,1.196379,1.197037,1.195206,1.199005,1.222712,1.213309,35989.5,0.0096,45.523667,38.557500

In [4]:
train.shape

(486, 178)

In [5]:
train.drop(["donation_id"], axis=1, inplace=True)
train.drop(["id"], axis=1, inplace=True)
train.drop(["std"], axis=1, inplace=True)
# data = train.to_numpy()
# print(data.shape) # 219 IDs

In [6]:
train.head()

,hdl_cholesterol_human,hemoglobin(hgb)_human,cholesterol_ldl_human,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,...,absorbance162,absorbance163,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,temperature,humidity
0,low,ok,ok,0.505055,0.506570,0.511544,0.516300,0.524067,0.530191,0.536138,...,1.410468,1.409675,1.401169,1.395687,1.390813,1.384304,1.395545,1.369307,42.332500,37.773000
1,low,ok,high,0.523531,0.523485,0.526291,0.532875,0.538397,0.543180,0.547520,...,1.298688,1.301346,1.299807,1.299004,1.298251,1.297575,1.302398,1.284716,39.385167,43.316667
2,low,ok,high,0.516449,0.519226,0.523619,0.532366,0.540438,0.547985,0.552716,...,1.283621,1.272086,1.247736,1.228340,1.211511,1.204599,1.212862,1.193458,42.455500,46.535167
3,low,ok,high,0.512397,0.514371,0.518486,0.520868,0.526911,0.534963,0.542428,...,1.268378,1.262765,1.254238,1.246901,1.248287,1.245556,1.266079,1.258333,45.173333,37.369333
4,low,ok,ok,0.496008,0.496698,0.499643,0.502549,0.506363,0.511604,0.518730,...,1.201238,1.196827,1.196379,1.197037,1.195206,1.199005,1.222712,1.213309,45.523667,38.557500

In [7]:
fdata =train.iloc[:,3:]

In [8]:
fdata = fdata.apply(lambda x: (x-x.mean())/ x.std(), axis=0)

In [9]:
data = train.to_numpy()

print(data.shape) # 219 IDs

(486, 175)

In [10]:
ffdata = fdata.to_numpy()

In [11]:
features = np.array(ffdata, dtype=float)
labels = data[:, 0:3]

In [12]:
test = pd.read_csv(testcsv)
test.head()

,donation_id,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,absorbance8,...,absorbance162,absorbance163,absorbance164,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,temperature,humidity
0,ID_1961,0.499920,0.504608,0.507929,0.519943,0.529032,0.536118,0.539690,0.541710,0.548590,...,1.165124,1.140465,1.098607,1.065527,1.044592,1.035440,1.041868,1.027759,41.507000,40.839333
1,ID_2067,0.497758,0.498091,0.503083,0.507249,0.513739,0.521944,0.528798,0.533743,0.541470,...,1.221584,1.221688,1.221872,1.219100,1.221694,1.221569,1.233970,1.227104,42.656500,39.675167
2,ID_2155,0.551436,0.553079,0.556722,0.560722,0.565583,0.570889,0.578668,0.585142,0.594233,...,1.419018,1.422387,1.421566,1.422355,1.423502,1.433594,1.451166,1.433315,42.523833,41.728500
3,ID_2211,0.525926,0.528948,0.532222,0.540022,0.547279,0.554348,0.558680,0.563768,0.570031,...,1.264453,1.251708,1.234305,1.212873,1.203968,1.196735,1.201349,1.192471,40.505833,43.938667
4,ID_2327,0.559814,0.559612,0.561561,0.565162,0.567556,0.572362,0.579762,0.587761,0.599415,...,1.259556,1.266984,1.281871,1.294898,1.302489,1.304253,1.317566,1.295373,37.754333,24.961000

In [13]:
# save it ids before dropping them
idx = test.donation_id.values
test.drop(["donation_id"], axis=1, inplace=True)
#testdata = test.to_numpy()

In [14]:
test = test.apply(lambda x: (x-x.mean())/ x.std(), axis=0)

In [15]:
testdata = test.to_numpy()

In [16]:
labels_n = np.zeros(labels.shape)
labels_n[np.where(labels=='low')] = 0
labels_n[np.where(labels=='ok')] = 1
labels_n[np.where(labels=='high')] = 2

In [ ]:
###Trying different models

In [41]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier, VotingClassifier 
# from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification
from sklearn.multioutput import MultiOutputClassifier
# from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import shuffle
# from xgboost import XGBClassifier
# from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression, Perceptron, RidgeClassifier, SGDClassifier

In [65]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.3.2-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: numpy in c:\users\spectre\anaconda3\lib\site-packages (from lightgbm) (1.18.5)
Requirement already satisfied: scipy in c:\users\spectre\anaconda3\lib\site-packages (from lightgbm) (1.5.0)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\spectre\anaconda3\lib\site-packages (from lightgbm) (0.23.1)
Requirement already satisfied: wheel in c:\users\spectre\anaconda3\lib\site-packages (from lightgbm) (0.34.2)
Requirement already satisfied: joblib>=0.11 in c:\users\spectre\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\spectre\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.2

In [66]:
from sklearn import metrics
import xgboost as xgb
from xgboost import XGBClassifier
import lightgbm as lgb
from lightgbm import LGBMClassifier

In [67]:
cv_number = 5

In [73]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV

In [104]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier

In [149]:
svc = SVC()
#forest = RandomForestClassifier(random_state=1)
#bagging_classifier = BaggingClassifier()
#ridge_classifier = RidgeClassifier()
#LGB_Classifier = LGBMClassifier()
#gradient_boosting = GradientBoostingClassifier()
#extra_trees_classifier = ExtraTreesClassifier()

In [150]:
#Voting_Classifier_hard = VotingClassifier(estimators=[('svm', svc), ('rf', forest), ('bc', bagging_classifier)], voting='hard')

In [151]:
n_samples, n_features = features.shape
n_outputs = labels_n.shape[1]
n_classes = 3
#svc = SVC()
multi_target_forest = MultiOutputClassifier(svc, n_jobs=-1)
model = multi_target_forest.fit(features, labels_n)

C:\Users\spectre\anaconda3\lib\site-packages\joblib\externals\loky\process_executor.py:688: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(

In [152]:
multi_target_forest.score(features, labels_n)

0.22633744855967078

In [153]:
def mymodel(features):
    output = model.predict(features)
    return output

In [154]:
predictions = mymodel(testdata)

In [155]:
ss = pd.DataFrame()
ss["Reading_ID"] = idx # don't messed up the ids. save them before.
ss["hdl_cholesterol_human"] = predictions[:,0]
ss["hemoglobin(hgb)_human"] = predictions[:,1]
ss["cholesterol_ldl_human"] = predictions[:,2]

In [156]:
ss

,Reading_ID,hdl_cholesterol_human,hemoglobin(hgb)_human,cholesterol_ldl_human
0,ID_1961,1.0,1.0,1.0
1,ID_2067,1.0,1.0,1.0
2,ID_2155,1.0,1.0,1.0
3,ID_2211,1.0,1.0,1.0
4,ID_2327,1.0,1.0,2.0
...,...,...,...,...
56,ID_6373,1.0,1.0,1.0
57,ID_6381,1.0,1.0,1.0
58,ID_6391,1.0,1.0,2.0
59,ID_7755,1.0,1.0,1.0
60,ID_7821,1.0,1.0,1.0

In [157]:
def transform(value):
    if value == 0.0:
        return 'low'
    elif value == 1.0:
        return 'ok'
    else:
        return 'high'

In [158]:
ss["hdl_cholesterol_human"] = ss["hdl_cholesterol_human"].apply(lambda x: transform(x))
ss["hemoglobin(hgb)_human"] = ss["hemoglobin(hgb)_human"].apply(lambda x: transform(x))
ss["cholesterol_ldl_human"] = ss["cholesterol_ldl_human"].apply(lambda x: transform(x))

In [159]:
ss.head()

  Reading_ID hdl_cholesterol_human hemoglobin(hgb)_human cholesterol_ldl_human
0    ID_1961                    ok                    ok                    ok
1    ID_2067                    ok                    ok                    ok
2    ID_2155                    ok                    ok                    ok
3    ID_2211                    ok                    ok                    ok
4    ID_2327                    ok                    ok                  high

In [160]:
def transform_c_hdl(row):
    return str(row["Reading_ID"]) + "_hdl_cholesterol_human" + "-" +  row["hdl_cholesterol_human"]

In [161]:
hdl_rows = pd.DataFrame(ss.apply(transform_c_hdl, axis=1))

In [162]:
def transform_hemo(row):
    return str(row["Reading_ID"]) + "_hemoglobin(hgb)_human" +  "-" + row["hemoglobin(hgb)_human"]

In [163]:
hemo_rows = pd.DataFrame(ss.apply(transform_hemo, axis=1))

In [164]:
def transform_c_ldl(row):
    return str(row["Reading_ID"]) + "_cholesterol_ldl_human" +  "-" + row["cholesterol_ldl_human"]

In [165]:
ldl_rows = pd.DataFrame(ss.apply(transform_c_ldl, axis=1))

In [166]:
ss = pd.concat([hdl_rows, hemo_rows, ldl_rows]).reset_index(drop=True)

In [167]:
ss["target"] = ss[0].apply(lambda x: x.split("-")[1])
ss[0] = ss[0].apply(lambda x: x.split("-")[0])

In [168]:
ss = ss.rename(columns={0:"Reading_ID"})

In [169]:
ss.head()

                      Reading_ID target
0  ID_1961_hdl_cholesterol_human     ok
1  ID_2067_hdl_cholesterol_human     ok
2  ID_2155_hdl_cholesterol_human     ok
3  ID_2211_hdl_cholesterol_human     ok
4  ID_2327_hdl_cholesterol_human     ok

In [170]:
ss.shape

(183, 2)

In [171]:
ss.to_csv(maindir+"/svm.csv", index=False)