In [1]:
import pandas as pd

In [2]:
#x= pd.read_csv("Exports_hdl_rows_483_full.csv")
x= pd.read_csv("Additional_hdl_rows_483_full.csv")

In [3]:
x.head()

,donation_id,hdl_cholesterol_human,absorbance0,absorbance1,absorbance2,absorbance3,absorbance4,absorbance5,absorbance6,absorbance7,...,absorbance165,absorbance166,absorbance167,absorbance168,absorbance169,scan_number,std,temperature,humidity,hdl_cholesterol_value
0,1993,ok,0.514279,0.513265,0.519961,0.524351,0.532302,0.539595,0.546650,0.549287,...,1.070509,1.040377,1.016050,1.008676,0.991902,30.5,0.0160,45.762833,37.695667,46.0
1,2015,low,0.540908,0.545688,0.550133,0.558058,0.566390,0.573959,0.579516,0.583041,...,1.327204,1.309127,1.297630,1.296178,1.304298,30.5,0.0161,46.042667,36.280667,39.0
2,2033,low,0.521742,0.526067,0.530532,0.537283,0.543335,0.550589,0.556057,0.561660,...,1.282168,1.271663,1.259443,1.262324,1.269575,30.5,0.0105,43.774500,36.292833,41.0
3,2057,ok,0.544772,0.546507,0.549925,0.554592,0.558680,0.564276,0.569732,0.575052,...,1.207374,1.205732,1.202735,1.205207,1.202510,30.5,0.0150,40.251500,44.300000,54.0
4,2062,ok,0.544296,0.548173,0.552769,0.559563,0.566481,0.573265,0.579284,0.584034,...,1.239447,1.222684,1.218330,1.216055,1.225289,30.5,0.0105,44.463833,38.058000,45.0

In [4]:
x.isnull().values.any()

True

In [5]:
x.isnull().sum()

donation_id              0
hdl_cholesterol_human    0
absorbance0              2
absorbance1              0
absorbance2              0
                        ..
scan_number              0
std                      0
temperature              0
humidity                 0
hdl_cholesterol_value    0
Length: 177, dtype: int64

In [6]:
 x=x.fillna(0)

In [7]:
x.isnull().values.any()

False

In [8]:
x.to_csv("No_NULL_Additional_hdl_rows_483_full.csv",index=False)